<a href="https://colab.research.google.com/github/ashrafkvt/scraping_sale_properties/blob/main/scraping_sale_properties.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import requests
from bs4 import BeautifulSoup

request = requests.get("https://www.century21.com/real-estate/rock-springs-wy/LCWYROCKSPRINGS/?k=1")
content = request.content
soup = BeautifulSoup(content, "html.parser")
# print(soup.prettify())

all = soup.find_all("div", {"class":"property-card"})

In [3]:
properties_list = []
for item in all:
  dict = {}

  property_address = item.find("div", {"class":"property-address"}).text.replace("\n", "")
  dict["address"] = property_address

  try:
    property_number_of_beds = item.find("div", {"class":"property-beds"}).find("strong").text
    dict["number_of_beds"] = property_number_of_beds
  except:
    dict["number_of_beds"] = None  

  try:
    property_number_of_baths = item.find("div", {"class":"property-baths"}).find("strong").text
    dict["number_of_baths"] = property_number_of_baths
  except:
    dict["number_of_baths"] = None

  property_city = item.find("div", {"class":"property-city"}).text.replace("\n", "")
  dict["locality"] = property_city

  price_tag = item.find("a", {"class":"listing-price"})

  property_price = price_tag.text.replace("\n", "").replace(" ", "")
  dict["price"] = property_price





  properties_list.append(dict)

In [5]:
len(properties_list)

5

In [16]:
import pandas as pd
import numpy as np

df = pd.DataFrame(properties_list)
df

,address,number_of_beds,number_of_baths,locality,price
0,597 Washakie,4,None,Rock Springs WY 82901,"$425,000"
1,331 Via Assisi,4,3,Rock Springs WY 82901,"$375,000"
2,210 M Street,3,2,Rock Springs WY 82901,"$95,000"
3,0 Lombard,None,None,Rock Springs WY 82901,"$750,000"
4,1213 11th Street,1,None,Rock Springs WY 82901,"$85,000"